.discountSection {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  border-radius: var(--radius-big, 12px);
  background: linear-gradient(80deg, #87933d -0.68%, #55610b 66.66%),
              linear-gradient(261deg, #0b710b 32.63%, #393 98.96%);
  box-sizing: border-box;
}

.discountSection h2 {
  text-align: center;
  font-family: Montserrat;
  font-size: clamp(28px, 6vw, 64px);
  font-weight: 700;
  line-height: 110%;
  margin-bottom: 40px;
}

a {
  color: white;
}

.handsImg {
  width: 100%;
  max-width: 748px;
  height: auto;
  object-fit: cover;
}

.constentSection {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  flex-wrap: wrap;
  width: 100%;
}

.discountForm {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-width: 280px;
  max-width: 538px;
  margin-top: 20px;
  width: 100%;
}

.discountForm input {
  color: white;
}

input {
  padding: 20px;
  background-color: transparent;
  border-radius: var(--radius-small, 6px);
  border: 1px solid var(--white, #fffff1);
  width: 100%;
  height: 60px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 130%;

  &::placeholder {
    color: #fff;
    opacity: 1;
  }
}

.discountbutton {
  padding: 16px;
  width: 100%;
  height: 60px;
  border-radius: var(--radius-small, 6px);
  background: var(--white, #fffff1);
  color: var(--txt-black, #424436);
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  line-height: 130%;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #b7e261;
  }
}

.discountbutton > a {
  color: black !important;
}

@media (max-width: 768px) {
  .constentSection {
    flex-direction: column;
    align-items: center;
  }

  .discountForm {
    width: 100%;
  }
}
